:root {
    --main-txt-color: #192231;
    --library-bg-color: #f4f4f4;
    --card-bg-color: #d1c9b2;
    --button-color: #1c1774;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 20%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-message {
    font-size: 2.5em;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 6em;
}

button {
    padding: .75em;
    width: 10em;
    border: none;
    color: white;
    background-color: var(--button-color);
    border-radius: 15px;
    margin-right: 5em;
}

button:hover {
    box-shadow: 0 0 2px black;
}

.library-container {
    background-color: var(--library-bg-color);
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card {
    height: 19em;
    width: 17em;
    padding: 0.33em;
    border-radius: 0.33em;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.25em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}

.book-card:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.book-card img {
    height: 50px;
    width: 50px;
    align-self: center;
    padding: .25em;
}

.book-title {
    padding: .25em;
    padding-top: 0.4em;
    margin: 0;
    font-size: 1.5em;
}

.book-author {
    padding: .23em;
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.book-pages,
.book-review,
.book-read {
    padding: 0.2em;
    margin: 0;
    font-size: .9em;
}

.book-read {
    padding-bottom: 0.4em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#add-book-content {
    background-color: var(--card-bg-color);
    margin: 10% auto;
    padding: 2em;
    border: 1px solid #888;
    border-radius: 0.33em;
    width: 18em;
    display: flex;
    flex-direction: column;
}

.close {
    align-self: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: .75em;
    align-items: center;
}

.modal .input {
    padding: 0.5em;
    width: 16em;
    border: 1px solid #888;
    border-radius: 0.33em;
}

.modal .input:focus {
    outline: none;
    border: 1px solid rgba(24, 108, 197, 1);
    box-shadow: 0 0 5px rgb(24, 108, 197);
}

.modal input[type="checkbox"] {
    margin: 0.5em;
}